@model ActorViewModel

@{
  ViewBag.Title= "Details of the actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Actor.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Actor.ProfilePictureUrl" class="control-label"></label>
                        <input asp-for="Actor.ProfilePictureUrl" class="form-control" readonly />
                        <span asp-validation-for="Actor.ProfilePictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Actor.FullName" class="control-label"></label>
                        <input asp-for="Actor.FullName" class="form-control" readonly />
                        <span asp-validation-for="Actor.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Actor.Bio" class="control-label"></label>
                        <input asp-for="Actor.Bio" class="form-control" readonly />
                        <span asp-validation-for="Actor.Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                       @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {*@
                            <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Actor.Id">Edit</a>
                        
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
            </div>
        </div>
    </div>
</div>