@model MovieImageViewModel

@foreach (var item in Model.MovieImages)
{
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="~\@item.ImagePath" alt="~\@item.ImagePath">
  <div class="card-body">
    <h5 class="card-title">@item.Date</h5>
    <p class="card-text">@item.ImagePath</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
}